@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

header {
  border-bottom: 0.05rem solid #e2e8f0;
}
header h1 {
  text-align: center;
  background: linear-gradient(to right, #0f172a, #334155);
  background-color: #0f172a;
  color: white;
  padding: 1rem 0;
  font-weight: 300;
}
header nav ul {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-around;
}
header nav ul li {
  list-style: none;
  font-size: large;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #3b82f6;
}

#home {
  margin: 2rem;
}
#home .blog {
  border: thin solid #e1e7ef;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: all 200ms ease-in;
}
#home .blog .blog-heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e293b;
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 300;
  transition: all 200ms ease-in;
}
#home .blog .blog-heading .blog-left-heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#home .blog .blog-heading .blog-left-heading .article-title {
  font-size: larger;
  font-weight: 700;
}
#home .blog .blog-heading .blog-left-heading .article-date {
  color: #94a3b8;
}
#home .blog .blog-heading .blog-right-heading {
  display: flex;
  align-items: center;
}
#home .blog .blog-heading .blog-right-heading img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}
#home .blog .blog-heading .blog-right-heading .article-creator {
  font-weight: 400;
}
#home .blog .blog-content {
  padding: 1rem;
}
#home .blog .blog-content .article-content {
  font-weight: 300;
}
#home .blog:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 0.3rem #f1f5f9;
}
#home .blog:hover .blog-heading {
  background-color: #1d4ed8;
}

footer {
  margin-top: auto;
  background: linear-gradient(to right, #0f172a, #334155);
  color: white;
  padding: 1rem;
  text-align: center;
  font-weight: 300;
}

.sign {
  display: flex;
  flex-flow: column;
  margin: 2rem;
}
.sign .sign-info {
  flex-basis: 50%;
  display: flex;
  flex-flow: column;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.sign .sign-info p {
  margin: auto 0;
}
.sign .sign-form {
  flex-basis: 50%;
}
.sign .sign-form legend {
  background-color: #1e293b;
  color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem 1rem 0 0;
  font-size: larger;
  font-weight: 200;
}
.sign .sign-form .form-input {
  display: flex;
  flex-flow: column;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}
.sign .sign-form .form-input label .required {
  color: red;
}
.sign .sign-form .form-input input {
  padding: 0.5rem;
}
.sign .sign-form .form-input input::-moz-placeholder {
  color: #94a3b8;
}
.sign .sign-form .form-input input:-ms-input-placeholder {
  color: #94a3b8;
}
.sign .sign-form .form-input input::placeholder {
  color: #94a3b8;
}
.sign .sign-form .form-submission {
  padding: 0 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}
.sign .sign-form .button {
  margin: 0.5rem 0.75rem 0 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-align: right;
  background-color: #1d4ed8;
  color: white;
  font-size: medium;
  font-weight: 200;
  border: thin solid #e1e7ef;
}
.sign .sign-form .button:hover {
  cursor: pointer;
  background-color: #1e40af;
}

@media screen and (min-width: 640px) {
  #home .blog .blog-heading .blog-left-heading {
    margin-bottom: 0;
  }

  .sign {
    flex-flow: row;
  }
  .sign .sign-info {
    margin-bottom: 0;
  }
  .sign .sign-form .form-submission {
    flex-flow: row wrap;
    align-items: center;
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */