// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
$primaryColor: #0f172a;
$secondaryColor: #3b82f6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

header {
    h1 {
        text-align: center;
        background: linear-gradient(to right, #0f172a, #334155);
        background-color: $primaryColor;
        color: white;
        padding: 1rem 0;
        font-weight: 300;
    }
    nav {
        ul {
            display: flex;
            padding: 0.5rem 0;
            justify-content: space-around;
            li {
                list-style: none;
                font-size: large;
            }
        }
    }
    border-bottom: 0.05rem solid #e2e8f0;
    // box-shadow: 0 0.1rem #e2e8f0;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: $secondaryColor;
    }
}

#home {
    margin: 2rem;
    .blog {
        border: thin solid #e2e8f0;
        border-radius: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;
        transition: all 200ms ease-in;
        .blog-heading {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            background-color: #1e293b;
            color: white;
            margin-bottom: 0.5rem;
            font-weight: 300;
            transition: all 200ms ease-in;
            .blog-left-heading {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                margin-bottom: 1rem;
                .article-title {
                    font-size: larger;
                    font-weight: 700;
                }
                .article-date {
                    color: #94a3b8;
                }
            }
            .blog-right-heading {
                display: flex;
                align-items: center;
                // margin-left: auto;
                img {
                    object-fit: cover;
                    width: 3.5rem;
                    height: 3.5rem;
                    margin-right: 1rem;
                    border-radius: 50%;
                }
                .article-creator {
                    font-weight: 400;
                }
            }
        }
        .blog-content {
            padding: 1rem;
            .article-content {
                font-weight: 300;
            }
        }
        &:hover {
            cursor: pointer;
            box-shadow: 0 0.2rem 0.3rem #f1f5f9;
            .blog-heading {
                background-color: #1d4ed8;
            }
        }
    }
}


footer {
    margin-top: auto;
    background: linear-gradient(to right, #0f172a, #334155);
    color: white;
    padding: 1rem;
    text-align: center;
    font-weight: 300;
}

@media screen and (min-width: 640px) {
    #home { 
        .blog {
            .blog-heading {
                .blog-left-heading {
                    margin-bottom: 0;
                }
            }
        }
    }
}