@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  border-bottom: 0.05rem solid #e2e8f0;
}
header h1 {
  text-align: center;
  background-color: #0f172a;
  color: white;
  padding: 1rem;
  font-weight: 300;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 0;
  padding: 1rem;
}
header nav ul li {
  list-style: none;
  font-size: larger;
}

.blogs {
  margin: 2rem 3rem;
}
.blogs .blog {
  border: thin solid #e1e7ef;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: all 200ms ease-in;
}
.blogs .blog .blog-heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e293b;
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 300;
  transition: all 200ms ease-in;
}
.blogs .blog .blog-heading .blog-left-heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.blogs .blog .blog-heading .blog-left-heading .article-title {
  font-size: larger;
  font-weight: 700;
}
.blogs .blog .blog-heading .blog-left-heading .article-date {
  color: #94a3b8;
}
.blogs .blog .blog-heading .blog-right-heading {
  display: flex;
  align-items: center;
}
.blogs .blog .blog-heading .blog-right-heading img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.blogs .blog .blog-heading .blog-right-heading .article-creator {
  font-weight: 400;
}
.blogs .blog .blog-content {
  padding: 1rem;
}
.blogs .blog .blog-content .article-content {
  font-weight: 300;
}
.blogs .blog:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 0.3rem #f1f5f9;
}
.blogs .blog:hover .blog-heading {
  background-color: #1d4ed8;
}

@media screen and (min-width: 640px) {
  .blogs .blog .blog-heading .blog-left-heading {
    margin-bottom: 0;
  }
}
.sign {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3rem;
  margin: 2rem 3rem;
}
.sign .sign-info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
}
.sign .sign-info p {
  margin: auto 0;
}
.sign .sign-form {
  flex-basis: 50%;
}
.sign .sign-form fieldset {
  border: none;
}
.sign .sign-form legend {
  width: 100%;
  background-color: #0f172a;
  color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem 1rem 0 0;
  font-size: larger;
  font-weight: 200;
}
.sign .sign-form .form-input {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}
.sign .sign-form .form-submission {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 1rem;
}

@media screen and (min-width: 640px) {
  .sign {
    flex-flow: row;
  }
  .sign .sign-form .form-submission {
    flex-flow: row wrap;
    align-items: center;
  }
}
footer {
  margin-top: auto;
  background-color: #0f172a;
  color: white;
  padding: 1rem;
  text-align: center;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #3b82f6;
}

input {
  padding: 0.75rem 0.5rem;
  border: thin solid #cbd5e1;
  border-radius: 0.25rem;
}
input::-moz-placeholder {
  color: #94a3b8;
}
input:-ms-input-placeholder {
  color: #94a3b8;
}
input::placeholder {
  color: #94a3b8;
}

button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #3b82f6;
  color: white;
  font-size: medium;
  font-weight: 200;
  border: thin solid #e2e8f0;
}
button:hover {
  cursor: pointer;
  background-color: #1e40af;
}

label::after {
  content: " *";
  color: red;
}/*# sourceMappingURL=style.css.map */