// Mixins

@mixin flex(
    $flex-direction: row,
    $flex-wrap: nowrap,
    $justify-content: flex-start,
    $align-items: stretch,
) {
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin links {
    text-decoration: none;
    color: black;
    &:hover {
        color: $blue-500;
    }
    
}