// Sign In / Sign Up Forms
.sign {
    @include flex(
        $flex-direction: column, // @media
    );
    margin: 2rem;
    .sign-info {
        flex-basis: 50%;
        @include flex(
            $flex-direction: column,
        );
        padding: 0 1rem;
        margin-bottom: 1rem; // @media
        p {
            margin: auto 0;
        }
    }
    .sign-form {
        flex-basis: 50%;
        legend {
            background-color: $slate-900;
            color: white;
            padding: 1rem;
            margin-bottom: 0.5rem;
            border-radius: 1rem 1rem 0 0;
            font-size: larger;
            font-weight: 200;
        }
        .form-input {
            @include flex(
                $flex-direction: column,
            );
            padding: 0 1rem;
            margin-bottom: 0.5rem;
            label {
                &::after {
                    content: ' *';
                    color: red;
                }
            }
            input {
                padding: 0.5rem;
                &::placeholder {
                    color: #94a3b8;
                }
            }
        }
        .form-submission {
            @include flex(
                $flex-direction: column, // @media
                $justify-content: space-between, // @media
                $align-items: flex-start, // media
            );
            padding: 0 1rem;
            margin-top: 1rem; // @media
            .button {
                margin: 0.5rem 0.75rem 0 0;
                padding: 1rem 2rem;
                border-radius: 2rem;
                background-color: $blue-500;
                color: white;
                font-size: medium;
                font-weight: 200;
                border: thin solid $slate-200;
                &:hover {
                    cursor: pointer;
                    background-color: #1e40af;
                }
            }
        }
    }
}

@media screen and (min-width: 640px) {
    .sign {
        flex-flow: row;
        .sign-info {
            margin-bottom: 0;
        }
        .sign-form {
            .form-submission {
                flex-flow: row wrap;
                align-items: center;
                margin-top: 0;
            }
        }
    }
}