@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./header";
@import "./blogs";
@import "./signupin";
@import "./footer";
@import "./utilities";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    @include links;
}

input {
    @include input-forms;
}

button {
    @include button;
}

label {
    &::after {
        content: ' *';
        color: red;
    }
}