@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./header";
@import "./blogs";
@import "./signupin";
@import "./post";
@import "./comments";
@import "./footer";
@import "./utilities";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    @include links;
}

input {
    @include input;
}

textarea {
    @include textarea;
}

button {
    @include button;
}

input, select, textarea, button {
    font-family:inherit;
}

fieldset {
    border: none;
}

legend {
    width: 100%;
    background-color: $slate-900;
    color: white;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem 1rem 0 0;
    font-size: larger;
    font-weight: 200;
}

label {
    &::after {
        content: ' *';
        color: red;
    }
}