@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./header";
@import "./blogs";
@import "./signupin";
@import "./footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

a {
    @include links;
}