{{!-- Add Comment --}}
<section id="add-comment" class="post hidden">
    <form action="">
        <fieldset>
            <legend>Add Comment</legend>
            <div class="form-input">
                <label for="add-comment">Comment</label>
                <textarea name="" id="add-comment" cols="30" rows="10"></textarea>
            </div>
            <div class="form-submission justify-end">
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</section>