{{!-- Comments --}}
<section id="comments" class="comments hidden">
    {{!-- If comments is empty, do not show the header --}}
    {{#if this.comments}}
    <legend class="m-0 legendGray">Comments</legend>
    {{/if}}
    {{#each this.comments as |comment|}}
    <article class="comment">
        <div class="comment-content">
            <p class="article-content">{{comment.content}}</p>
            <br>
            <p class="article-content fw-500">Posted by: {{comment.user.username}} | Date: {{comment.createdAt}}</p>
        </div>
    </article>
    {{/each}}
</section> 