<section id="dashboard" class="blogs">
    
    {{!-- Blog --}}
    <article class="blog">
        <div class="blog-heading">
            <div class="blog-left-heading">
                <p class="article-title">The World of Coca Cola</p>
                <p class="article-date">January 1, 2022</p>
            </div>
            <div class="blog-right-heading">
                <img src="./img/profile_picture_secondary.jpg" alt="">
                <p class="article-creator">Richard Guarnieri</p>
            </div>
        </div>
        <div class="blog-content">
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eveniet sunt temporibus unde. Corrupti sapiente ratione repellendus blanditiis fuga, quos nemo itaque aliquid libero magnam totam eos necessitatibus molestias optio?</p>
        </div>
    </article>

    {{!-- Button --}}
    <div class="text-center">
        <button>+ New Post</button>
    </div>    
</section>
