<section id="home" class="blogs">

    {{!-- Blog --}}
    {{#each responseParsed as |blog|}}
    <article class="blog">
        <div class="blog-heading">
            <div class="blog-left-heading">
                <p class="article-title">{{blog.title}}</p>
                <p class="article-date">{{blog.updatedAt}}</p>
            </div>
            <div class="blog-right-heading">
                <img src="/img/profile_picture_secondary.jpg" alt="">
                <p class="article-creator">{{blog.user.username}}</p>
            </div>
        </div>
        <div class="blog-content">
            <p class="article-content">{{blog.content}}</p>
        </div>
    </article>
    {{> comments this}}
    {{> add-comment}}
    {{/each}}

</section>
