<section id="sign-in" class="sign">

    {{!-- Info --}}
    <div class="sign-info">
        <h2>Welcome Back</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nostrum doloribus facilis aut magnam necessitatibus sapiente, blanditiis, similique neque harum sed architecto sequi. Sunt similique eius cumque culpa, cum quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nihil sequi rerum debitis, praesentium exercitationem earum hic ad atque tempora architecto dolore iste, vitae dicta? Vitae, esse suscipit. Quidem, dolorum?</p>
    </div>

    {{!-- Form --}}
    <div class="sign-form">
        <form action="">
            <fieldset>
                <legend>Sign In</legend>
                <div class="form-input">
                    <label for="signin-username">Username</label>
                    <input type="text" name="" id="signin-username" placeholder="Your username" required>
                </div>
                <div class="form-input">
                    <label for="signin-password">Password</label>
                    <input type="password" name="" id="signin-password" placeholder="Your password" required>
                </div>
                <div class="form-submission">
                    <a href="/signup">New to the Tech Blog? Sign Up!</a>
                    <button type="submit">Sign In</button>
                </div>
            </fieldset>
        </form>
    </div>
    
</section>