<section id="sign-up" class="sign">
    
    {{!-- Info --}}
    <div class="sign-info">
        <h2>Welcome to the Tech Blog</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nostrum doloribus facilis aut magnam necessitatibus sapiente, blanditiis, similique neque harum sed architecto sequi. Sunt similique eius cumque culpa, cum quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nihil sequi rerum debitis, praesentium exercitationem earum hic ad atque tempora architecto dolore iste, vitae dicta? Vitae, esse suscipit. Quidem, dolorum?</p>
    </div>

    {{!-- Form --}}
    <div class="sign-form">
        <form>
            <fieldset>
                <legend>Sign Up</legend>
                <div class="form-input">
                    <label for="signup-email">Email</label>
                    <input type="email" id="signup-email" placeholder="name@example.com" required>
                </div>
                <div class="form-input">
                    <label for="signup-username">Username</label>
                    <input type="text" id="signup-username" placeholder="Your username" required>
                </div>
                <div class="form-input">
                    <label for="signup-password">Password</label>
                    <input type="password" id="signup-password" placeholder="Your password" required>
                </div>
                <p id="signup-error-msg" class="error-msg fw-500"></p>
                <div class="form-submission">
                    <a href="/signin">Already a member? Sign In!</a>
                    <button type="submit">Sign Up</button>
                </div>
            </fieldset>
        </form>
    </div>
    
</section>

<script src="/js/signup.js"></script>