<section id="sign-up" class="sign">
    <div class="sign-info">
        <h2>Welcome to the Tech Blog</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nostrum doloribus facilis aut magnam necessitatibus sapiente, blanditiis, similique neque harum sed architecto sequi. Sunt similique eius cumque culpa, cum quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nihil sequi rerum debitis, praesentium exercitationem earum hic ad atque tempora architecto dolore iste, vitae dicta? Vitae, esse suscipit. Quidem, dolorum?</p>
    </div>
    <div class="sign-form">
        <form action="">
            <fieldset>
                <legend>Sign Up</legend>
                <div class="form-input">
                    <label for="signup-email">Email</label>
                    <input type="email" name="" id="signup-email" placeholder="name@example.com" required>
                </div>
                <div class="form-input">
                    <label for="signup-username">Username</label>
                    <input type="text" name="" id="signup-username" placeholder="Your username" required>
                </div>
                <div class="form-input">
                    <label for="signup-password">Password</label>
                    <input type="password" name="" id="signup-password" placeholder="Your password" required>
                </div>
                <div class="form-submission">
                    <a href="#">Already a member? Sign In!</a>
                    <button type="submit">Sign Up</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>