{{!-- Update Post --}}
<section id="update-post" class="post">
    <form action="/api/blogs/update" method="POST">
        <fieldset>
            <legend>Update Post</legend>
            <div class="form-input">
                <label for="post-title" id="update-post-title-db">Post Title</label>
                <input type="text" name="title" id="post-title" placeholder="Post Title" required value="{{blogData.title}}">
            </div>
            <div class="form-input">
                <label for="post-content" id="update-post-content-db">Content</label>
                <textarea name="content" id="post-content" cols="30" rows="10" placeholder="Post Content" required>{{blogData.content}}</textarea>
            </div>
            <div class="form-input d-none">
                <textarea name="blogId" cols="30" rows="10">{{blogData.id}}</textarea>
            </div>
            <div class="form-submission justify-end">
                <button type="submit">Update Post</button>
                <button id='delete-btn' class="bg-red-500">Delete Post</button>
            </div>
        </fieldset>
    </form>
</section> 